html,
body,
#app {
    width: 100%;
    height: 100%;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.edit_link {
    cursor: pointer;
    color: #2b7ed1;
    margin-right: 5px;
    display: inline-block;
}

.del_link {
    cursor: pointer;
    color: #f30;
    margin-right: 5px;
    display: inline-block;
}